{% extends "base.html" %}

{% block menu %}
    {% for menu_dict in menu %}
        {% for menu_key,menu_val in menu_dict.items %}
            <li class="{{status|get_item:menu_key}}"><a href="{{menu_val}}"><i class="{{icons|get_item:menu_key}}"></i>{{menu_key|safe|escape}}</a></li>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block content %}
  {% if form.errors %}
   <div class="row">
     <div data-alert class="twelve columns alert-box secondary radius">
       {% for key,error in form.errors.items %}
         <a href="#" class="close">&times;</a>
         <div class="five columns center"><p>Error in <strong>{{key|safe|escape}}</strong> field {{error|safe|escape}}</p></div>
       {% endfor %}
     </div>
   </div>
  {% endif %}

  {% for data in Detail_Pages %}
    {% for key,details in data.items  %}
       <p>{{key|safe|escape}}</p></br>
       <p>{{details|safe|escape}}</p>
    {% endfor %}
  {% endfor %}
{% endblock %}
